@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-style: normal;
	margin-left: 20px;
}

.flaticon-architecture:before {
	content: "\e000";
}
.flaticon-award18:before {
	content: "\e001";
}
.flaticon-barrier4:before {
	content: "\e002";
}
.flaticon-board2:before {
	content: "\e003";
}
.flaticon-business112:before {
	content: "\e004";
}
.flaticon-businessman118:before {
	content: "\e005";
}
.flaticon-businessman98:before {
	content: "\e006";
}
.flaticon-city21:before {
	content: "\e007";
}
.flaticon-comment12:before {
	content: "\e008";
}
.flaticon-construction10:before {
	content: "\e009";
}
.flaticon-construction11:before {
	content: "\e00a";
}
.flaticon-construction14:before {
	content: "\e00b";
}
.flaticon-construction16:before {
	content: "\e00c";
}
.flaticon-construction17:before {
	content: "\e00d";
}
.flaticon-construction4:before {
	content: "\e00e";
}
.flaticon-constructor7:before {
	content: "\e00f";
}
.flaticon-crane8:before {
	content: "\e010";
}
.flaticon-diploma20:before {
	content: "\e011";
}
.flaticon-engineer:before {
	content: "\e012";
}
.flaticon-engineer1:before {
	content: "\e013";
}
.flaticon-first:before {
	content: "\e014";
}
.flaticon-first33:before {
	content: "\e015";
}
.flaticon-house158:before {
	content: "\e016";
}
.flaticon-logistics3:before {
	content: "\e017";
}
.flaticon-man269:before {
	content: "\e018";
}
.flaticon-modern13:before {
	content: "\e019";
}
.flaticon-plan:before {
	content: "\e01a";
}
.flaticon-rounded45:before {
	content: "\e01b";
}
.flaticon-silence1:before {
	content: "\e01c";
}
.flaticon-sports27:before {
	content: "\e01d";
}
.flaticon-symbolic2:before {
	content: "\e01e";
}
.flaticon-truck30:before {
	content: "\e01f";
}
.flaticon-winner11:before {
	content: "\e020";
}
